.SearchResults {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 1.16rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
}

.SearchResults h2 {
    font-size: 1.55rem;
    height: 3rem;
    border-bottom: 1px solid #6f6f6f;
    padding: 7px 0px;
}

.SearchResults .TrackList{
    overflow: auto;
    width: 100%;
    flex-grow: 1;
}


@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom: 2rem;
    }
    h2{
        font-size: 1.3rem;
    }
}